@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'DM Sans', sans-serif;
}

[data-slot="error"] {
  animation: slideDown 0.5s ease;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}